@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

/* ======== create new note page ======= */

/* logo style */

.logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: auto;
  margin-top: 30px
}

/* div style */

.bgDiv {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('assets/team-gardener-bg.png');
}

.mainDiv {
  background-color: #afb6d1;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 20px 100px 100px 100px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color:#423138;
  font-weight: 600;
  text-align: center;
  height: auto;
}

/* button style */

.mainBtn {
  background-color: #423138;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #f0eada;
  border: 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin-bottom: 30px;
}
.mainBtn:hover {
  background-color: #30673f;
}

.cancelBtn {
  background-color: #afb6d1;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #423138;
  border: 0;
  padding: 10px 20px 10px 20px;
  text-align: center;
  margin-right: 10px;
  float: right;
}
.cancelBtn:hover {
  background-color: #bfc5da;
}

.submitBtn {
  background-color: #423138;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #f0eada;
  border: 0;
  padding: 10px 20px 10px 20px;
  margin-right: 30px;
  float: right;
}
.submitBtn:hover {
  background-color: #30673f;
}

/* form style */

.formInputName {
  background-color: #dfe2ed;
  border: 0;
  border-radius: 20px;
  margin: 0px;
  width:90%;
  height: 20px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #846270;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.formInputNote {
  background-color: #dfe2ed;
  border: 0;
  border-radius: 30px;
  margin: 5px;
  width:90%;
  height: 150px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #846270;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* ======== login page ======= */

/* logo style */

.logoImgLogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* div style */

.bgDiv {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('assets/team-gardener-bg.png');
}

.loginDiv {
  background-color: #afb6d1;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 450px;
  margin-right: 450px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color:#423138;
  font-weight: 600;
  text-align: center;
  height: auto;

}

/* button style */

.signUpBtn {
  background-color: #dfe2ed;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #423138;
  border: 0;
  padding: 10px 25px 10px 25px;
  text-align: center;
  margin-left: 46px;
  float: left;
}
.signUpBtn:hover {
  background-color: #f0eada;
}

.loginBtn {
  background-color: #423138;
  border-radius: 15px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 20px;
  color: #f0eada;
  border: 0;
  padding: 10px 25px 10px 25px;
  margin-right: 46px;
  float: right;
}
.loginBtn:hover {
  background-color: #30673f;
}

/* form style */

.formInputEmail {
  background-color: #dfe2ed;
  border: 0;
  border-radius: 20px;
  margin: 5px 5px 5px 5px;
  width: 60%;
  height: 20px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #846270;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

.formInputPassword {
  background-color: #dfe2ed;
  border: 0;
  border-radius: 20px;
  margin: 5px 5px 20px 5px;
  width:60%;
  height: 20px;
  padding: 20px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: #846270;
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/*  
 
 .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  margin: 1em;
}

#homepage-row1 {
  textAlign: 'center';
  justifyContent: 'center';
  alignItems: 'center';
}  */
