@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap');

.App {
  text-align: center;
}

.button {
  margin: 1em;
}

/* ======== login page ======= */

/* logo style */

.logoImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 10%;
  height: auto;
  margin-top: 30px
}

.logoImgLogin {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
  margin-top: 40px;
  margin-bottom: 40px;
}

/* div style */

.mainDiv {
  background-color: #afb6d1;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 60px;
  margin: 20px 80px 80px 80px;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 800 !important;
  font-size: 40px;
  color:#423138;
  font-weight: 600;
  text-align: center;
  height: auto;
}

.notesViewDiv {
  background-color: #dfe2ed;
  border-radius: 30px;
  padding-top: 40px;
  padding-bottom: 40px;
  padding-left: 30px;
  padding-right: 30px;
  /* margin: 80px 80px 80px 80px; */
  font-weight: 600;
  text-align: center;
}

.bgDiv {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-image: url('assets/team-gardener-bg.png');
}

.loginDiv {
  background-color: #afb6d1;
  border-radius: 30px;
  padding-top: 20px;
  padding-bottom: 80px;
  margin-top: 100px;
  margin-bottom: 40px;
  margin-left: 450px;
  margin-right: 450px;
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  color:#423138;
  font-weight: 600;
  text-align: center;
  height: auto;
}

/* text style */

p {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  padding: 0px 30px 0px 30px;
}

/* button style */

.signUpBtn {
  background-color: #dfe2ed !important;
  border-radius: 15px !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #423138 !important;
  border: 0 !important;
  padding: 10px 25px 10px 25px !important;
  text-align: center !important;
  margin-left: 46px !important;
  float: left !important;
}
.signUpBtn:hover {
  background-color: #f0eada !important;
}

.loginBtn {
  background-color: #423138 !important;
  border-radius: 15px !important;
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  color: #f0eada !important;
  border: 0 !important;
  padding: 10px 25px 10px 25px !important;
  margin-right: 46px !important;
  float: right !important;
}
.loginBtn:hover {
  background-color: #30673f !important;
}

/* form style */

.formInputEmail {
  background-color: #dfe2ed !important;
  border: 0 !important;
  border-radius: 20px !important;
  margin: 5px 5px 5px 35px !important;
  width: 80% !important;
  height: 20px !important;
  padding: 20px !important; 
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #846270 !important;
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}

.formInputPassword {
  background-color: #dfe2ed !important;
  border: 0 !important;
  border-radius: 20px !important;
  margin: 10px 5px 20px 35px !important;
  width: 80% !important;
  height: 20px !important;
  padding: 20px !important; 
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color: #846270 !important;
  border: none !important;
  overflow: auto !important;
  outline: none !important;

  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;

  resize: none !important; /*remove the resize handle on the bottom right*/
}

.formCenter {
  display: flex;
  justify-content: center;
}

/* modal style */

.modalHeader {
border: 0;
background-color: #423138 !important;
font-family: 'Poppins', sans-serif !important;
font-weight: 700 !important;
color: #f0eada !important;
}

.modalSignupBtn {
  border-radius: 15px !important;
  background-color: #423138 !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  color: #f0eada !important;
  float: right;
  padding: 10px 25px 10px 25px !important;
}
.modalSignupBtn:hover {
  background-color: #30673f !important;
}

.modalCloseBtn {
  border-radius: 40px !important;
  border: none !important;
  background-color: #dfe2ed !important;
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  color: #423138  !important;
  float: right !important;
  margin-left: 430px;
  padding: 5px 15px 5px 15px !important;
}
.modalCloseBtn:hover {
  background-color: #f0eada!important;
  color: #423138 !important;
}

/* signup style */

.signupHeader h4 {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 40px !important;
  color:#423138 !important;
  padding-bottom: 20px !important;
}

/* table style */

.tableHeader {
  font-family: 'Poppins', sans-serif !important;
  font-weight: 700 !important;
  font-size: 20px !important;
  color:#423138 !important;
  padding-bottom: 20px !important;
}

.fetchText {
  font-family: 'Raleway', sans-serif !important;
  font-weight: 700 !important;
  font-size: 15px !important;
  color:#423138 !important;
  padding-bottom: 40px !important;
}

.tableSize {
  width: 80%;
  height: auto;
}